.c-player {
    display: flex;
    justify-content: center;
    gap: 18px;

    z-index: 10;
    
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 36px;
}

.c-player video{
    position: absolute;
    pointer-events: none;
}

.c-player__play{
    width: 60px;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;
    transition: transform 0.25s ease-in-out;
}

.c-player__play:hover{
    transform: scale(1.05);
}

.c-player__play img{
    width: 100%;
    height: 100%;
    transition: transform 0.25s ease-in-out;
}

.c-player__wave{
    position: relative;
    cursor: pointer;
    width: 100%;
}

.c-player__wave-svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;

}

.c-player__wave-svg--clipped{
    opacity: 1;
    clip-path: inset(0 100% 0 0);
}

.c-player__wave-svg--hover{
    clip-path: inset(0 100% 0 0);
}